syntax on
set nu
"set cursorline
set showmatch
set backspace=indent,eol,start
set whichwrap=b,s,h,l,<,>,[,]
set virtualedit=onemore
set confirm
set wrapscan
set smartindent
set autoindent
set hlsearch
nmap <Esc><Esc> :nohlsearch<CR><Esc>
set visualbell t_vb=
set noerrorbells
"set tabstop=2
"set shiftwidth=2
"set expandtab
"set softtabstop=0
"set iminsert=2
set conceallevel=0
set ambiwidth=double
autocmd FileType gitcommit setlocal spell
hi SpecialKey ctermfg=darkmagenta
set list
set listchars=tab:»-,trail:-,eol:↲,extends:»,precedes:«,nbsp:%

" configuration for vimdiff
highlight DiffAdd    cterm=bold ctermfg=10 ctermbg=22
highlight DiffDelete cterm=bold ctermfg=10 ctermbg=52
highlight DiffChange cterm=bold ctermfg=10 ctermbg=17
highlight DiffText   cterm=bold ctermfg=10 ctermbg=21

if has("autocmd")
  filetype plugin on
  filetype indent on
  augroup vimrc
    autocmd!
    autocmd FileType c           setlocal ts=8 sw=8 sts=8 noet
    autocmd FileType diff        setlocal ts=8
    autocmd FileType kconfig     setlocal ts=8 sw=8 sts=8 noet
    autocmd FileType dts         setlocal ts=8 sw=8 sts=8 noet
    autocmd FileType yml         setlocal ts=2 sw=2 sts=2 et
    autocmd FileType yaml        setlocal ts=2 sw=2 sts=2 et
  augroup END
endif

set wildignore+=*.ko,*.mod.c,*.order,modules.builtin
