"dein Scripts-----------------------------
if &compatible
  set nocompatible               " Be iMproved
endif
" Required:
set runtimepath+=~/{{ vim_bundle_dir | regex_replace('^~/', '') }}/repos/github.com/Shougo/dein.vim
" Required:
if dein#load_state('~/{{ vim_bundle_dir | regex_replace('^~/', '') }}/')
  call dein#begin('~/{{ vim_bundle_dir | regex_replace('^~/', '') }}/')
  " Let dein manage dein
  " Required:
  call dein#add('~/{{ vim_bundle_dir | regex_replace('^~/', '') }}/repos/github.com/Shougo/dein.vim')

  " Add or remove your plugins here:
{% for plugin in vim_plugins %}
{% if plugin.revision is defined %}
  call dein#add('{{ plugin.name }}', { 'rev': '{{ plugin.revision }}' })
{% else %}
  call dein#add('{{ plugin.name | default(plugin) }}')
{% endif %}
{% endfor %}

  " Required:
  call dein#end()
  call dein#save_state()
endif
" Required:
filetype plugin indent on
syntax enable
" If you want to install not installed plugins on startup.
if dein#check_install()
  call dein#install()
endif
"End dein Scripts-------------------------

